*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/*NAV BAR SECTION*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0.8rem 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.logo-container{
    display: flex;
    align-items: center;
    
}
.logo-container img{
    height: 65px;
    width: 65px;
    margin-left: -50px;
}
.logo-text{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #333;
    position: relative;
}






/*Navigation links*/
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
   
}
/*Each menu item*/
.nav-links li{
    position: relative;
    
}
/*Links styling*/
.nav-links a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 15px;       /* space for the hover box */
    border-radius: 12px;     /* rounded corners */
    transition: all 0.3s ease;
}
/*Hover effect for links*/
.nav-links a:hover{
    color: white;
    background-color: #007bff;
}

/*Dropdown menu for links*/
.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    padding: 0.5rem 0;
    border: 1px solid #ddd;
    min-width: 150px;
    z-index: 10;

}
/*Dropdown menu items*/
.dropdown-content li a{
    display: block;
    padding: 0.5rem 1rem;
    color: #333;
    background: white;
    transition: all 0.3s ease;
}
/*Hover effect for dropdown items*/
.dropdown-content li a:hover{
    background: #007bff;
    color: white;
}
/*Show dropdown on hover*/
.nav-links li:hover .dropdown-content{
    display: block;
}
